.btn {
  &:link,
  &:visited {
    /*:link is a pseudoclass to style elements under special conditions*/
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    /* adds shadow for button in y direction along with blur*/
    &::after {
      /*After pseudo element only after we hover over the button*/
      transform: scaleX(1.4) scaleY(1.6);
      /*increases the element*/
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
  }

  &--white {
    background-color: #fff;
    font-size: 2rem;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: 2.2rem;
    color: $color-text;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid $color-text;
    padding: 0.3rem;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-text;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }
}
