<footer id='footer'>
    <ul class='icons'>
        <li><a href='https://www.facebook.com/solarchapter/' class='icon circle fa-facebook'><span class='label'>Facebook</span></a></li>
        <li><a href='https://www.instagram.com/solarchapter/' class='icon circle fa-instagram'><span class='label'>Instagram</span></a></li>
        <li><a href='https://www.youtube.com/channel/UCqj1kNOurGHy6yCgGqtC2fQ' class='icon circle fa-youtube'><span class='label'>Youtube</span></a></li>
        <li><a href='mailto:solarchapterofficial@gmail.com' class='icon circle fa-envelope'><span class='label'>Email</span></a></li>
    </ul>
    <ul class='copyright'>
        <li>Copyright &copy; 2018 Solar Chapter</li>
    </ul>
</footer>