//Colors
$color-primary: #EDFA62;
$color-primary-dark: #FEF740;
$color-primary-light: #FFFFE0;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-grey-dark: #777;
$color-grey-darker: #eee;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-dark-2: #333;
$color-text: #D79922;
$grid-width: 114rem; /*grid */
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;