.header {
  height: 95vh;
  /*sets height to 95% of the visible viewport*/
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.7) , rgba($color-text, 0.4)), url("../img/hero.jpg");
  /* insert image from drive and change linear gradient colors potentially*/
  background-size: cover;
  /* sets image to cover viewport*/
  background-position: top;
  /* sets position of image to top */
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  /*clips image*/
  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    font-size: 3rem;
    top: 4rem;
    left: 4rem;
    color: $color-white;
    /*Potentially change this color*/
    animation-name: logoFadeIn;
    animation-duration: 1s;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}